*{

    font-family: 'Times New Roman', Times, serif;
}

#PlayerOneText, #PlayerTwoText{
    color: white;
    background-color: brown;
    text-align: center;
    width: 180px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    padding-top: 7px;
    border-style: solid;
    border-width: 6px;
}
#Board{
    background-color: brown;
    height: 500px;
    width: 500px;
    margin: 30px auto;
}

#WinPopup{
    visibility: hidden;
    height: 125px;
    width: 275px;
    z-index: 100;
    position: absolute;
    text-align: center;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: brown;
}
#WinPopup h1{
    margin-bottom: 15px;
    color: white;
}

#WinPopup button{
    margin-bottom: 15px;

}

#Tutorial{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 700px;
    height: 750px;
    margin-top: 50px;
    background-color: #333;
    border-style: solid;
    border-width: 6px;
}

#Tutorial h2, h1{
    color: white;
}

#Yellow{
    width: 20px;
    height: 20px;
    background-color: yellow;
}
#Red{
    width: 20px;
    height: 20px;
    background-color: red;
}

#Blue{
    width: 20px;
    height: 20px;
    background-color: blue;
}


