h1{
    color: white;
    background-color: brown;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 180px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    padding-top: 7px;
    border-style: solid;
    border-color: white;
    border-width: 6px;
}
#Board{
    background-color: brown;
    height: 500px;
    width: 500px;
    margin: 30px auto;
}
